<h1>Name of the book</h1>

<form action="/" method="POST">
  <input name="query" />
  <button>Search</button>
</form>

<p>
<li><img src="<%= @image %>"></li>
<li>Title: <%= @title %></li>
<li>Author: <%= @author %></li>
<li>ISBN: <%= @isbn %></li>
<li>Description: <%= @description %></li>
<li><a href="<%= @link %>">Learn More</a></li>
</p>